<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поздравь коллегу с 8 марта!</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="components/my-header/my-header.css">
    <link rel="stylesheet" href="components/start/start.css">
    <link rel="stylesheet" href="components/choose/choose.css">
    <link rel="stylesheet" href="components/add-info/add-info.css">
    <link rel="stylesheet" href="components/make-a-pic/make-a-pic.css">
    <link rel="stylesheet" href="components/canvas/canvas.css">
    <link rel="stylesheet" href="components/add-effect/add-effect.css">
    <link rel="stylesheet" href="components/postcard-ready/postcard-ready.css">
    <link rel="stylesheet" href="components/send-postcard/send-postcard.css">
    <link rel="stylesheet" href="components/final/final.css">
    <link rel="stylesheet" href="components/my-footer/my-footer.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode
                .insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(73072366, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/73072366" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body>
    <!-- <img class="logo" src="img/logo.png" alt="logo"> -->
    <div class="container">
        <div id="content">
            <my-header :page='page'></my-header>
            <start v-if="page == 'start'" @page-number="page = $event" @template-number="templateId = $event"
                :template="templateId"></start>
            <choose v-if="page == 'choose'" @page-number="page = $event" @template-number="templateId = $event"
                :template="templateId">
            </choose>
            <add-info v-if="page == 'add-info'" @page-number="page = $event" @name='name= $event'
                @slogan='customSlogan = $event' :slogan='customSlogan' @template-number="templateId = $event"
                :template="templateId"></add-info>
            <make-a-pic v-if="page == 'make-a-pic'" @custom-img='customImg' :custom-img='customImg'
                @page-number="page = $event" @template-number="templateId = $event" :template="templateId"></make-a-pic>
            <my-canvas v-if="page == 'my-canvas'" @page-number="page = $event" @custom-img='customImg = $event'
                @template-number="templateId = $event" :template="templateId"></my-canvas>
            <add-effect v-if="page == 'add-effect'" :img='img' :custom-img='customImg' @page-number="page = $event"
                @template-number="templateId = $event" :slogan='customSlogan' :template="templateId"></add-effect>
            <postcard-ready v-if="page == 'postcard-ready'" @page-number="page = $event"
                @template-number="templateId = $event" :template="templateId"></postcard-ready>
            <send-postcard v-if="page == 'send-postcard'" @page-number="page = $event"
                @template-number="templateId = $event" :template="templateId"></send-postcard>
            <final v-if="page == 'final'" @page-number="page = $event" @template-number="templateId = $event"
                :template="templateId"></final>
        </div>

    </div>
    <div class='footer' :page='page'>
        <img src="img/text_logo.png" alt="Rostelecom">
    </div>
    <script src="components/my-header/my-header.js"></script>
    <script src="components/start/start.js"></script>
    <script src="components/choose/choose.js"></script>
    <script src="components/add-info/add-info.js"></script>
    <script src="components/make-a-pic/make-a-pic.js"></script>
    <script src="components/canvas/canvas.js"></script>
    <script src="components/add-effect/add-effect.js"></script>
    <script src="components/postcard-ready/postcard-ready.js"></script>
    <script src="components/send-postcard/send-postcard.js"></script>
    <script src="components/final/final.js"></script>
    <script src="components/my-footer/my-footer.js"></script>
    <script src="components/main.js"></script>
</body>

</html>