.pic-form-text {
    padding-top: 19px;
    font-size: 20px;
    text-align: center;
    display: block;
}

.next-btn {
    padding: 8px 35px;
}

.preview {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 16px;
}

.square {
    background: #fff;
    margin-left: 15px;
}

.pen {
    position: absolute;
    bottom: 25px;
    right: 100px;
}

@media(max-width: 768px) {
    .add-info-btns {
        flex-wrap: wrap;
        justify-content: center;
    }
    .pen {
        position: absolute;
        bottom: 25px;
        right: 96px;
        width: 40px;
    }
    .pic-form-text {
        font-size: 14px;
    }
}

@media(max-width: 488px) {
    .pen {
        right: 65px;
        bottom: 15px;
    }
}