.square {
    max-width: 668px;
    height: 376px;
    background-color: #fff;
    margin: 0 auto;
}

.pic-form-text {
    padding-top: 19px;
    font-size: 20px;
    text-align: center;
}

.next-btn {
    padding: 8px 43px;
}

@media(max-width: 768px){
    .add-info-btns {
        flex-wrap: wrap;
        justify-content: center;
    }
}