.start {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    flex-wrap: wrap;
    height: 40vh;
    margin: 0 0 100px 0;
}

.start-btn {
    background-color: #65bbdf;
    border-radius: 70px;
    font-family: 'Rostelecom Basis Regular', sans-serif;
    font-size: 72.1px;
    font-weight: 700;
    color: #ffffff;
    padding: 35px 100px;
}

.start-form-text {
    display: none;
    text-align: center;
}

@media(max-width: 1023px){
    .start-btn {
        font-size: 30px;
        padding: 30px 50px;
    }
}

@media (max-width: 767px) {
    .start-form-text {
        display: block;
    }

    .start-btn {
        font-size: 26px;
        padding: 18px 31px;
    }

    .start-form-text {
        font-size: 16px !important;
        text-align: center !important;
    }

}