.footer {
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer img {
    padding-top: 8px;
    max-width: 100%;
}

.footer[aria-page='my-canvas'] {
    display: none;
}

@media (max-width: 768px) {
    .footer {
        justify-content: center;
    }
}