.footer {
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

}

.footer img {
    padding-top: 6px;
}

@media (max-width: 768px) {
    .footer {
        justify-content: center;
    }
}