.post-form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: unset;
}

.post-form img {
    max-width: 100%;
}

.form-text {
    margin-top: 25px;
}

.send-post {
    display: flex;
    flex-direction: column;
}

.post-address {
    max-width: 125% !important;
    padding: 7px 10px !important;
}
