.add-info {
    max-width: 863px;
    margin: 0 auto;
}

.form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 50px;
}

.form input {
    width: 100%;
    background-color: #993def;
    border-radius: 10px;
    padding: 19px 15px;
    border: 3px solid #85c9e5;
    font-family: 'Rostelecom Basis Regular', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
}

.form input::placeholder {
    font-family: 'Rostelecom Basis Regular', sans-serif;
    font-size: 24px;
    opacity: 0.54;
    font-weight: 300;
    color: #ffffff;
}

.form-text {
    font-family: "Rostelecom Basis Regular", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.option {
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    border-radius: 5px;
    border: 2px solid #85c9e5;
    background-color: #993def;
    line-height: normal;
    padding: 5px;
    min-width: 20px;
    cursor: pointer;
}

.options-block {
    position: relative;
}

#textareaData {
    width: 377px;
    height: 240px;
    background-color: #993def;
    border-radius: 10px;
    font-family: 'Rostelecom Basis Regular', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    border: 3px solid #85c9e5;
    padding: 37px 15px 0;
    cursor: context-menu;
}

.options_2 {
    width: 377px;
    height: 240px;
    background-color: #993def;
    border-radius: 10px;
    font-family: 'Rostelecom Basis Regular', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    border: 3px solid #85c9e5;
    padding: 39px 15px;
}

.options_2::placeholder,
#textareaData::placeholder {
    font-family: 'Rostelecom Basis Regular', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    opacity: 0.54;
}

.custom-options input {
    vertical-align: top;
}

.grats-options {
    display: flex;
    justify-content: center;
    max-width: 1920px;
    margin-top: 20px;
}

.select-btn {
    position: absolute;
    top: 15px;
    right: 21px;
    background-color: #993def;
    color: #ffffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 20px;
}

#sloganSelect {
    z-index: 99;
    position: absolute;
    top: 22%;
    left: 0;
}

.or-text {
    font-family: 'Rostelecom Basis Regular', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.info-btns {
    margin-top: 47px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .add-info-wrap {
        max-width: 573px;
    }
    .option{
        font-size: 14px;
    }
    .form {
        margin-top: 0;
        align-items: center;
    }
    .or-text {
        display: none;
    }
    .options::placeholder {
        font-size: 16px;
    }
    .grats-options {
        flex-wrap: wrap;
    }
    .form-text {
        font-size: 16px;
        font-weight: 700;
        padding: 0 13px;
        text-align: inherit;
    }
    .form input {
        width: 295px;
        padding: 10px 13px;
        font-size: 16px;
        margin: 0 auto;
    }
    .form input::placeholder {
        font-size: 16px;
    }
    .options {
        width: 295px;
        font-size: 16px;
        padding: 10px 15px;
    }
    #textareaData {
        width: 295px;
        height: 177px;
        font-size: 16px;
        padding: 25px 15px;
    }
    .options_2 {
        width: 295px;
        height: 177px;
        font-size: 16px;
        padding: 25px 15px;
    }

    .options_2::placeholder,
    #textareaData::placeholder {
        font-size: 16px;
    }
    .next-btn {
        font-size: 18px;
    }
}