.add-info {
    max-width: 863px;
    margin: 0 auto;
}

.form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 50px;
}

.option {
    padding: 5px;
    margin-right: 15px;
}

.form input {
    width: 100%;
    background-color: #993def;
    border-radius: 10px;
    padding: 19px 15px;
    border: 3px solid #85c9e5;
    font-family: 'Rostelecom Basis Regular', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
}

.form input::placeholder {
    font-family: 'Rostelecom Basis Regular', sans-serif;
    font-size: 24px;
    opacity: 0.54;
    font-weight: 300;
    color: #ffffff;
}

.form-text {
    font-family: "Rostelecom Basis Regular", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.options {
    width: 377px;
    height: 240px;
    background-color: #993def;
    border-radius: 10px;
    font-family: 'Rostelecom Basis Regular', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    border: 3px solid #85c9e5;
    padding: 10px 15px;
}

.options::placeholder {
    font-family: 'Rostelecom Basis Regular', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    opacity: 0.54;
}

.custom-options input {
    vertical-align: top;
}

.grats-options {
    display: flex;
    justify-content: center;
    max-width: 1920px;
    margin-top: 20px;
}

.or-text {
    font-family: 'Rostelecom Basis Regular', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.info-btns {
    margin-top: 47px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 768px) {

    .form {
        margin-top: 0;
        align-items: center;
    }
    .or-text {
        display: none;
    }
    .options::placeholder {
        font-size: 16px;
    }

    .grats-options {
        flex-wrap: wrap;
    }
    .form-text {
        font-size: 16px;
        font-weight: 700;
        padding: 0 13px;
        text-align: inherit;
    }
    .form input {
        width: 295px;
        padding: 10px 13px;
        font-size: 16px;
        margin: 0 auto;
    }
    .form input::placeholder {
        font-size: 16px;
    }
    .options {
        width: 295px;
        height: 177px;
        font-size: 16px;
        padding: 10px 15px;
    }

    .options::placeholder {
        font-size: 16px;
    }

    .next-btn {
        font-size: 18px;
    }


}