.add-effect-wrap {
    max-width: 1300px;
    padding: 0 22px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.effect-text {
    text-align: center;
    font-family: 'Rostelecom Basis Regular', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
}

.add-effect {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.effects {
    position: relative;
}

.choose-effect-btn {
    cursor: pointer;
    margin: 0 10px;
}

.choose-effect {
    display: flex;
    margin-top: 70px;
}

.effects-options {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    background: #ffffff;
    padding: 17px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}

.effects-options img {
    margin: 0 10px;
}

.stickers {
    position: relative;
}

.stickers-options {
    background: #ffffff;
    padding: 10px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: 8px;
}

.stickers-options img {
    margin: 15px;
}

.img-row img {
    margin: 4px 13px;
}

.img-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.effect-active {
    border-radius: 50%;
    box-shadow: 0 0 10px 8px #a4d7ec;
}

.pick-effect {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 398px;
}

.pick-effect_ {
    flex-direction: column;
}
.another-pic-form-text {
    display: none;
    padding-top: 19px;
    text-align: center;
}

@media(max-width: 1098px) {
    .add-effect {
        justify-content: center;
    }
    .pick-effect_ {
        margin-left: 50px;
    }
}

@media (max-width: 708px){
    .pick-effect {
        flex-direction: column;
    }
    .another-pic-form-text {
        display: block;
        font-size: 14px;

    }
    .pic-form-text {
        display: none;
    }
}

@media (max-width: 768px) {
    .pick-effect {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
    }
    .another-pic-form-text {
        display: block;
        font-size: 14px;

    }
    .pic-form-text {
        display: none;
    }


    .effects-options img {
        height: 58px;
        width: 62px;
    }
    .choose-effect {
        display: flex;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
    }
    .pick-effect_ {
        flex-direction: column;
        margin-left: 23px;
    }
    .img-row img {
        height: 40px;
        width: 40px;
    }
}

@media(max-width:475px) {
    .choose-effect-btn img {
        height: 61px;
    }
    #selectedImg {
        /* width: 90vw;
        height: 215px; */
    }
    .effect-text {
        font-size: 13px;
    }
    .effects-options img {
        margin: 0 10px;
    }
    .img-row img {
        margin: 4px 13px;
    }
}