.add-effect-wrap {
    max-width: 1300px;
}

.effect-text {
    text-align: center;
    font-family: 'Rostelecom Basis Regular', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
}

.add-effect {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.effects {
    position: relative;
}

.choose-effect-btn {
    cursor: pointer;
}

.choose-effect {
    display: flex;
    margin-top: 70px;
    margin-left: -26px;
}

.effects-options {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    background: #ffffff;
    padding: 17px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;

}

.effects-options img {
    margin: 0 10px;
}

.stickers {
    position: relative;
}

.stickers-options {
    background: #ffffff;
    padding: 10px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: 10px;
}

.stickers-options img {
    margin: 15px;
}

.img-row img {
    margin: 5px 24px;
}

.effect-active {
    outline: 1px solid #111;
}

.pick-effect {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media(max-width: 1228px) {
    .add-effect {
        justify-content: center;
    }

    .pick-effect {
        margin-left: 20px;
    }
    .pic-form-text {
        display: none;
    }
}